html,body {
    // background-color: var(--color-background);
    height: 100%;
    margin: 0px;
    padding: 0px;
}
  
.container-fluid {
    height: 100%
}

.settings {
    h1 {
        font-family: 'IBM Plex Sans';
        color: var(--color-white);
    }
}

